@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif !important;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

